{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "no-plusplus": "off",
    "import/no-mutable-exports": "off",
    "no-unused-vars": "off",
    "camelcase": "off",
    "no-unused-expressions": "off"
  }
}